Bravo.Reporting.Test/resources/schemas/excel2003/excelss.xsd

<?xml version="1.0" ?>
<xsd:schema targetNamespace="urn:schemas-microsoft-com:office:spreadsheet" xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns:x2="http://schemas.microsoft.com/office/excel/2003/xml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:c="urn:schemas-microsoft-com:office:component:spreadsheet" xmlns:html="http://www.w3.org/TR/REC-html40" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="urn:schemas-microsoft-com:office:office" schemaLocation="office.xsd" />
	<xsd:import namespace="urn:schemas-microsoft-com:office:excel" schemaLocation="excel.xsd" />
	<xsd:import namespace="http://schemas.microsoft.com/office/excel/2003/xml" schemaLocation="excel2003xml.xsd" />
	<xsd:import namespace="urn:schemas-microsoft-com:office:component:spreadsheet" schemaLocation="c.xsd" />
	<xsd:annotation>
		<xsd:documentation>
			Permission to copy, display and distribute the contents of this document (the “Specification”), in any medium for any purpose without fee or royalty is hereby granted, provided that you include the following notice on ALL copies of the Specification, or portions thereof, that you make:
			Copyright (c) Microsoft Corporation.  All rights reserved.  Permission to copy, display and distribute this document is available at:  http://msdn.microsoft.com/library/en-us/odcXMLRef/html/odcXMLRefLegalNotice.asp?frame=true.  
			No right to create modifications or derivatives of this Specification is granted herein.
			There is a separate patent license available to parties interested in implementing software programs that can read and write files that conform to the Specification.  This patent license is available at this location:  http://www.microsoft.com/mscorp/ip/format/xmlpatentlicense.asp.
			THE SPECIFICATION IS PROVIDED "AS IS" AND MICROSOFT MAKES NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR TITLE; THAT THE CONTENTS OF THE SPECIFICATION ARE SUITABLE FOR ANY PURPOSE; NOR THAT THE IMPLEMENTATION OF SUCH CONTENTS WILL NOT INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.
			MICROSOFT WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING TO ANY USE OR DISTRIBUTION OF THE SPECIFICATION.
			The name and trademarks of Microsoft may NOT be used in any manner, including advertising or publicity pertaining to the Specification or its contents without specific, written prior permission. Title to copyright in the Specification will at all times remain with Microsoft.
			No other rights are granted by implication, estoppel or otherwise.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Workbook">
		<xsd:annotation>
			<xsd:documentation>Defines a workbook that will contain one or more Worksheet elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="o:SmartTagType" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="o:DocumentProperties" minOccurs="0" />
				<xsd:element ref="o:CustomDocumentProperties" minOccurs="0" />
				<xsd:element ref="o:OfficeDocumentSettings" minOccurs="0" />
				<xsd:element ref="x:ExcelWorkbook" minOccurs="0" />
				<xsd:element name="Styles" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Contains the style definitions for the current worksheet. This element is required for custom formatting; otherwise, it is optional.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Style" type="StyleType" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Defines a single style in the current workbook. This element is required for custom formatting; otherwise, it is optional.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Names" type="NamesType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Defines the collection of named ranges within a workbook.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Worksheet" type="WorksheetType" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Defines a worksheet within the current workbook. At least one instance of this element is required for a valid XML spreadsheet.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="x:PivotCache" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="x:Name" minOccurs="0" />
				<xsd:element ref="x2:MapInfo" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="x2:Binding" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element ref="c:ComponentOptions" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="NamesType">
		<xsd:annotation>
			<xsd:documentation>Defines the collection of named ranges within a workbook or worksheet.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NamedRange" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Defines a single named range within this workbook.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute form="qualified" name="Name" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation>Specifies the name of a named range.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute form="qualified" name="RefersTo" type="xsd:string" use="optional">
						<xsd:annotation>
							<xsd:documentation>Specifies the range to which the name applies.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute ref="Hidden" default="0" />
					<xsd:attribute ref="c:PasteRefersTo" use="optional" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AlignmentType">
		<xsd:annotation>
			<xsd:documentation>Defines a collection of font alignment attributes.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute form="qualified" name="Horizontal" use="optional" default="Automatic">
			<xsd:annotation>
				<xsd:documentation>Specifies the left-to-right alignment of text within a cell.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="CenterAcrossSelection" />
					<xsd:enumeration value="Fill" />
					<xsd:enumeration value="Left" />
					<xsd:enumeration value="Right" />
					<xsd:enumeration value="Justify" />
					<xsd:enumeration value="Distributed" />
					<xsd:enumeration value="Center" />
					<xsd:enumeration value="Automatic" />
					<xsd:enumeration value="JustifyDistributed" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="ReadingOrder" use="optional" default="Context">
			<xsd:annotation>
				<xsd:documentation>Specifies the default right-to-left text entry mode for a cell.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="RightToLeft" />
					<xsd:enumeration value="LeftToRight" />
					<xsd:enumeration value="Context" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Indent" type="xsd:unsignedLong" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies the number of indents. This attribute is not supported by the Spreadsheet component.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Rotate" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies the rotation of text within a cell.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:double">
					<xsd:minInclusive value="-90"/>
					<xsd:maxInclusive value="90"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="ShrinkToFit" type="TrueFalseType" use="optional">
			<xsd:annotation>
				<xsd:documentation>Specifies whether text size should be shrunk so that all of the text fits within a cell.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Vertical" use="optional" default="Automatic">
			<xsd:annotation>
				<xsd:documentation>Specifies the top-to-bottom alignment of text within a cell.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Automatic" />
					<xsd:enumeration value="Top" />
					<xsd:enumeration value="Bottom" />
					<xsd:enumeration value="Center" />
					<xsd:enumeration value="Justify" />
					<xsd:enumeration value="Distributed" />
					<xsd:enumeration value="JustifyDistributed" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="VerticalText" type="TrueFalseType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies whether text characters are positioned to read vertically.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="WrapText" type="TrueFalseType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies whether the text in a cell should wrap at the cell boundary.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="StyleType">
		<xsd:annotation>
			<xsd:documentation>Defines a single style in the current workbook. This element is required for custom formatting; otherwise, it is optional.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Alignment" type="AlignmentType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Specifies the font alignment attributes to use for cells to which the defined style is applied.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Borders" type="BordersType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Defines the border properties to use for cells to which the defined style is applied.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Font" type="FontType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Defines the font characteristics to use for cells to which the defined style is applied.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Interior" type="InteriorType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Defines the fill properties to use for cells to which the defined style is applied.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberFormat" type="NumberFormatType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Defines the number format to use for cells to which the defined style is applied.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Protection" type="ProtectionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Defines the protection properties of cells to which the defined style is applied.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute form="qualified" name="ID" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>Defines a name that identifies a particular style. The special value of "Default" indicates that this style represents the default formatting in the workbook.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Name" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Specifies the name for a defined style. Duplicate names for different styles are not permitted.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Parent" type="xsd:IDREF" use="optional">
			<xsd:annotation>
				<xsd:documentation>Specifies a parent style from which the defined style should inherit format settings.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ProtectionType">
		<xsd:annotation>
			<xsd:documentation>Defines the protection properties that should be used for cells to which the defined style is applied.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute form="qualified" name="Protected" type="TrueFalseType" use="optional" default="1">
			<xsd:annotation>
				<xsd:documentation>Specifies whether a cell is protected. When the worksheet is unprotected, enabling protection on individual cells has no effect.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="x:HideFormula" use="optional" default="1" />
	</xsd:complexType>
	<xsd:complexType name="BordersType">
		<xsd:annotation>
			<xsd:documentation>Defines a container for individual Border elements.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Border" type="BorderType" minOccurs="0" maxOccurs="6">
				<xsd:annotation>
					<xsd:documentation>Specifies the properties of a particular border within the Borders element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NumberFormatType">
		<xsd:annotation>
			<xsd:documentation>Specifies the number format that should be in cells. The default value is General. All other number formats require a custom format code.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute form="qualified" name="Format" use="optional" default="General">
			<xsd:annotation>
				<xsd:documentation>Specifies a number format code in the Excel number format syntax.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:union memberTypes="xsd:string">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="General" />
							<xsd:enumeration value="General Number" />
							<xsd:enumeration value="General Date" />
							<xsd:enumeration value="Long Date" />
							<xsd:enumeration value="Medium Date" />
							<xsd:enumeration value="Short Date" />
							<xsd:enumeration value="Long Time" />
							<xsd:enumeration value="Medium Time" />
							<xsd:enumeration value="Short Time" />
							<xsd:enumeration value="Currency" />
							<xsd:enumeration value="Euro Currency" />
							<xsd:enumeration value="Fixed" />
							<xsd:enumeration value="Standard" />
							<xsd:enumeration value="Percent" />
							<xsd:enumeration value="Scientific" />
							<xsd:enumeration value="Yes/No" />
							<xsd:enumeration value="True/False" />
							<xsd:enumeration value="On/Off" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:union>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="InteriorType">
		<xsd:annotation>
			<xsd:documentation>Defines the fill properties to use in a style.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute form="qualified" name="Color" type="xsd:string" use="optional" default="Automatic">
			<xsd:annotation>
				<xsd:documentation>Specifies the fill color of a cell.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Pattern" type="PatternType" use="optional">
			<xsd:annotation>
				<xsd:documentation>Specifies the fill pattern of a cell.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="PatternColor" type="xsd:string" use="optional" default="Automatic">
			<xsd:annotation>
				<xsd:documentation>Specifies the secondary fill color of a cell when the Pattern attribute does not equal Solid.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="PatternType">
		<xsd:annotation>
			<xsd:documentation>Contains an enumeration of the values that may appear in the Pattern attribute of the Interior element.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="None" />
			<xsd:enumeration value="Solid" />
			<xsd:enumeration value="Gray75" />
			<xsd:enumeration value="Gray50" />
			<xsd:enumeration value="Gray25" />
			<xsd:enumeration value="Gray125" />
			<xsd:enumeration value="Gray0625" />
			<xsd:enumeration value="HorzStripe" />
			<xsd:enumeration value="VertStripe" />
			<xsd:enumeration value="ReverseDiagStripe" />
			<xsd:enumeration value="DiagStripe" />
			<xsd:enumeration value="DiagCross" />
			<xsd:enumeration value="ThickDiagCross" />
			<xsd:enumeration value="ThinHorzStripe" />
			<xsd:enumeration value="ThinVertStripe" />
			<xsd:enumeration value="ThinReverseDiagStripe" />
			<xsd:enumeration value="ThinDiagStripe" />
			<xsd:enumeration value="ThinHorzCross" />
			<xsd:enumeration value="ThinDiagCross" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="FontType">
		<xsd:annotation>
			<xsd:documentation>Defines the font attributes to use in a style.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute form="qualified" name="Bold" type="TrueFalseType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies whether a font is bold.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Color" type="xsd:string" use="optional" default="Automatic">
			<xsd:annotation>
				<xsd:documentation>Specifies the color of a font.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="FontName"  use="optional" default="Arial">
			<xsd:annotation>
				<xsd:documentation>Specifies the name of the font.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Italic" type="TrueFalseType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies whether a font is italic.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Outline" type="TrueFalseType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies whether a font is rendered as an outline. This property is used only on the Macintosh.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Shadow" type="TrueFalseType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies whether a font is shadowed. This property is used only on the Macintosh.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Size" type="PositiveDoubleType" use="optional" default="10">
			<xsd:annotation>
				<xsd:documentation>Specifies the size of a font in points.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="StrikeThrough" type="TrueFalseType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies whether a font is displayed using the strikethrough style.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Underline" use="optional" default="None">
			<xsd:annotation>
				<xsd:documentation>Specifies whether a font is displayed underlined.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="None" />
					<xsd:enumeration value="Single" />
					<xsd:enumeration value="Double" />
					<xsd:enumeration value="SingleAccounting" />
					<xsd:enumeration value="DoubleAccounting" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="VerticalAlign" use="optional" default="None">
			<xsd:annotation>
				<xsd:documentation>Specifies the vertical alignment of a font.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="None" />
					<xsd:enumeration value="Subscript" />
					<xsd:enumeration value="Superscript" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute ref="x:CharSet" use="optional" />
		<xsd:attribute ref="x:Family" use="optional" />
	</xsd:complexType>
	<xsd:complexType name="BorderType">
		<xsd:annotation>
			<xsd:documentation>Specifies the properties of a particular border within the Borders element.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute form="qualified" name="Position" type="PositionType" use="required">
			<xsd:annotation>
				<xsd:documentation>Specifies one of the six possible borders to use for cells.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Color" type="xsd:string" use="optional" default="Automatic">
			<xsd:annotation>
				<xsd:documentation>Specifies the color of a border.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="LineStyle" use="optional">
			<xsd:annotation>
				<xsd:documentation>Specifies the style of a border.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="None" />
					<xsd:enumeration value="Continuous" />
					<xsd:enumeration value="Dash" />
					<xsd:enumeration value="Dot" />
					<xsd:enumeration value="DashDot" />
					<xsd:enumeration value="DashDotDot" />
					<xsd:enumeration value="SlantDashDot" />
					<xsd:enumeration value="Double" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Weight" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies the weight (or thickness) in points of a border.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:double">
					<xsd:maxInclusive value="3.5"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="PositionType">
		<xsd:annotation>
			<xsd:documentation>Contains an enumeration of the values that may appear in the Position attribute of the Border element.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Left" />
			<xsd:enumeration value="Top" />
			<xsd:enumeration value="Right" />
			<xsd:enumeration value="Bottom" />
			<xsd:enumeration value="DiagonalLeft" />
			<xsd:enumeration value="DiagonalRight" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TableType">
		<xsd:annotation>
			<xsd:documentation>Defines the table to contain the cells that constitute a worksheet.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Column" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Defines the formatting and properties for one or more adjacent columns.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute form="qualified" name="AutoFitWidth" type="TrueFalseType" use="optional" default="1">
						<xsd:annotation>
							<xsd:documentation>Specifies whether a column is automatically resized to fit numeric and date values. Columns are not resized to fit text data.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute  ref="Hidden" default="0">
						<xsd:annotation>
							<xsd:documentation>Specifies whether a column is hidden.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute form="qualified" name="Index" type="xsd:positiveInteger" use="optional" >
						<xsd:annotation>
							<xsd:documentation>Specifies the position of a column in a table.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute form="qualified" name="Span" type="xsd:nonNegativeInteger" use="optional" default="0">
						<xsd:annotation>
							<xsd:documentation>Specifies the number of adjacent columns with the same formatting as the defined column.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute form="qualified" name="StyleID" type="xsd:IDREF" use="optional">
						<xsd:annotation>
							<xsd:documentation>Contains a reference to an ID attribute previously defined in a Style element. Used to apply that defined style to a column.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute form="qualified" name="Width" use="optional">
						<xsd:annotation>
							<xsd:documentation>Specifies the width of a column in points. This value must be greater than or equal to zero.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:double">
								<xsd:minInclusive value="0" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute ref="c:Caption" use="optional" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Row" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Defines the formatting and properties for one or more adjacent rows.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="Cell" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
					<xsd:attribute form="qualified" name="AutoFitHeight" type="TrueFalseType" use="optional" default="1">
						<xsd:annotation>
							<xsd:documentation>Specifies whether the height of a row is automatically resized to fit the contents of cells.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute form="qualified" name="Height" use="optional">
						<xsd:annotation>
							<xsd:documentation>Specifies the height of a row in points. This value must be greater than or equal to zero.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:double">
								<xsd:minInclusive value="0"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute  ref="Hidden" default="0">
						<xsd:annotation>
							<xsd:documentation>Specifies whether a row is hidden.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute form="qualified" name="Index" type="xsd:positiveInteger" use="optional" >
						<xsd:annotation>
							<xsd:documentation>Specifies the position of a row within a table.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute form="qualified" name="Span" type="xsd:nonNegativeInteger" use="optional" default="0">
						<xsd:annotation>
							<xsd:documentation>Specifies the number of adjacent rows with the same formatting as the defined row.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute form="qualified" name="StyleID" type="xsd:IDREF" use="optional">
						<xsd:annotation>
							<xsd:documentation>Contains a reference to an ID attribute previously defined in a Style element. Used to apply that defined style to a row.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute ref="c:caption" use="optional" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute form="qualified" name="DefaultColumnWidth" type="PositiveDoubleType" use="optional" default="48">
			<xsd:annotation>
				<xsd:documentation>Specifies the default width in points of columns in a table.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="DefaultRowHeight" type="PositiveDoubleType" use="optional" default="12.75">
			<xsd:annotation>
				<xsd:documentation>Specifies the default height in points of rows in a table.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="ExpandedColumnCount" type="xsd:nonNegativeInteger" use="optional">
			<xsd:annotation>
				<xsd:documentation>Specifies the total number of columns in a table. If included in an XML document, this attribute must have a value that is equal to the actual number of columns in the table for the document to be valid.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="ExpandedRowCount" type="xsd:nonNegativeInteger" use="optional">
			<xsd:annotation>
				<xsd:documentation>Specifies the total number of rows in a table. If included in an XML document, this attribute must have a value that is equal to the actual number of rows in the table for the document to be valid.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="StyleID" type="xsd:IDREF" use="optional">
			<xsd:annotation>
				<xsd:documentation>Contains a reference to an ID attribute previously defined in a Style element. Used to apply that defined style to a table.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="LeftCell" type="xsd:positiveInteger" use="optional" default="1">
			<xsd:annotation>
				<xsd:documentation>Specifies the index of the column in a spreadsheet that defines the first column of a table. This value must be greater than zero.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="TopCell" type="xsd:integer" use="optional" default="1">
			<xsd:annotation>
				<xsd:documentation>Specifies the index of the row in a spreadsheet that defines the top row of a table. This value must be greater than zero.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="FullColumns" type="TrueFalseType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies that the columns in this table should occupy the entire height (all rows) of the worksheet.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="FullRows" type="TrueFalseType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies that the rows in this table should occupy the entire width (all columns) of the worksheet.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attributeGroup ref="x:XTableElements" />
	</xsd:complexType>
	<xsd:element name="Cell">
		<xsd:annotation>
			<xsd:documentation>Defines the properties of a cell in a worksheet.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:sequence>
				<xsd:group ref="CellType" />
			</xsd:sequence>
			<xsd:attribute form="qualified" name="ArrayRange" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Specifies the range of cells to which an array formula applies.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute form="qualified" name="Formula" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Specifies a formula for a cell.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute form="qualified" name="HRef" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>Specifies a URL to which to which a cell is linked.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute form="qualified" name="Index" type="xsd:nonNegativeInteger" use="optional">
				<xsd:annotation>
					<xsd:documentation>Specifies the column index of a cell.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute form="qualified" name="MergeAcross" type="xsd:long" use="optional" default="0">
				<xsd:annotation>
					<xsd:documentation>Specifies the number of adjacent cells to merge with the current cell. The cells to merge will be to the right of the current cell unless the worksheet is set to display left-to-right.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute form="qualified" name="MergeDown" type="xsd:long" use="optional" default="0">
				<xsd:annotation>
					<xsd:documentation>Specifies the number of adjacent cells below the current cell that are to be merged with the current cell.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute form="qualified" name="StyleID" type="xsd:IDREF" use="optional">
				<xsd:annotation>
					<xsd:documentation>Contains a reference to an ID attribute previously defined in a Style element. Used to apply that defined style to a cell.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attributeGroup ref="x:XHRefScreenTipGroup" />
			<xsd:attribute ref="c:PasteFormula" use="optional" />
		</xsd:complexType>
	</xsd:element>
	<xsd:group name="CellType">
		<xsd:sequence>
			<xsd:element ref="o:SmartTags" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Data" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Specifies the value of a cell. The value should be specified in the format appropriate for the Type attribute of the cell.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType mixed="true">
					<xsd:sequence>
						<xsd:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
					<xsd:attribute form="qualified" name="Type" use="required">
						<xsd:annotation>
							<xsd:documentation>Specifies the type of data to be contained by the cell.</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Number" />
								<xsd:enumeration value="DateTime" />
								<xsd:enumeration value="Boolean" />
								<xsd:enumeration value="String" />
								<xsd:enumeration value="Error" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute ref="x:Ticked" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Comment" type="CommentType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contains a comment to be associated with a cell.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="x:phonetictext" minOccurs="0" />
			<xsd:element name="NamedCell" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Presence of this tag indicates that this cell is a member of a user-defined named range. When saved from Excel, this tag is only present on cells that are non-empty or contain formatting. This tag can appear multiple times (one for each user-defined name that this cell lies in).</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute form="qualified" name="Name" type="xsd:string" use="optional">
						<xsd:annotation>
							<xsd:documentation>Specifies a user-defined named range to which the cell belongs.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="CommentType">
		<xsd:annotation>
			<xsd:documentation>Contains the comment to be associated with this cell</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Data" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Specifies the contents of the comment that is associated with a cell.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:any processContents="skip" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute form="qualified" name="Author" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Specifies the author of a comment.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="ShowAlways" type="TrueFalseType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies whether a comment is always displayed or is displayed only when the user rests the curser on the cell.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="WorksheetType">
		<xsd:annotation>
			<xsd:documentation>Defines a worksheet within the current workbook. An document must contain at least one instance of this element to be a valid XML Spreadsheet document.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Names" type="NamesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Defines a collection of named ranges within a workbook or worksheet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Table" type="TableType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Defines the table to contain the cells of the current worksheet. Only one instance of a Table element is valid for a single worksheet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="x:WorksheetOptions" minOccurs="0" />
			<xsd:element ref="x:Watches" minOccurs="0" />
			<xsd:element ref="x:DataTable" minOccurs="0" />
			<xsd:element ref="x:PageBreaks" minOccurs="0" />
			<xsd:element ref="x:PivotTable" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element ref="x:DataValidation" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element ref="x:AutoFilter" minOccurs="0" />
			<xsd:element ref="x:ConditionalFormatting" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element ref="x:Sorting" minOccurs="0" />
			<xsd:element ref="c:worksheetoptions" minOccurs="0" />
			<xsd:element ref="x:QueryTable" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute form="qualified" name="Name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Specifies the name of a worksheet. This value must be unique within the list of worksheet names of a given workbook.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="Protected" type="TrueFalseType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies whether a worksheet is protected. When protection is not enabled for a worksheet, protection settings for individual cells have no effect.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute form="qualified" name="RightToLeft" type="TrueFalseType" use="optional" default="0">
			<xsd:annotation>
				<xsd:documentation>Specifies whether the worksheet window displays information from left to right or from right to left. If this attribute is set to display from right to left, column A in a worksheet is the first column on the right.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="TrueFalseType">
		<xsd:annotation>
			<xsd:documentation>Defines a data type restricted to two values: true or false.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="0" />
			<xsd:enumeration value="1" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:attribute name="Hidden"  default="0">
		<xsd:annotation>
			<xsd:documentation>Specifies whether an element is visible. The Hidden attribute can be applied to the NamedRange, Column, and Row elements.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:simpleType name="PositiveDoubleType">
		<xsd:annotation>
			<xsd:documentation>Defines a data type restricted to positive values.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:double">
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
